@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/Lato-Light.ttf) format('truetype'), url(../fonts/Lato-Light.woff) format('woff'), url(../fonts/Lato-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato-Regular.eot);
  src: local('Lato Regular'), local('Lato-Regular'), local('Lato'), url(../fonts/Lato-Regular.ttf) format('truetype'), url(../fonts/Lato-Regular.woff) format('woff'), url(../fonts/Lato-Regular.svg#Lato) format('svg'), url(../fonts/Lato-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Lato-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato-Bold.ttf) format('truetype'), url(../fonts/Lato-Bold.woff) format('woff'), url(../fonts/Lato-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(../fonts/Lato-Italic.ttf) format('truetype'), url(../fonts/Lato-Italic.woff) format('woff'), url(../fonts/Lato-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Crete-Round-Italic.eot);
  src: local('Crete Round Italic'), local('CreteRound-Italic'), local('Crete Round'), url(../fonts/Crete-Round-Italic.svg#CreteRound) format('svg'), url(../fonts/Crete-Round-Italic.eot?#iefix) format('embedded-opentype'), url(../fonts/Crete-Round-Italic.woff2) format('woff2'), url(../fonts/Crete-Round-Italic.ttf) format('truetype'), url(../fonts/Crete-Round-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(../fonts/Raleway-Light.woff2) format('woff2'), url(../fonts/Raleway-Light.ttf) format('truetype'), url(../fonts/Raleway-Light.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Raleway.eot);
  src: local('Raleway'), local('Raleway-Regular'), url(../fonts/Raleway.eot?#iefix) format('embedded-opentype'), url(../fonts/Raleway.svg#Raleway) format('svg'), url(../fonts/Raleway.woff2) format('woff2'), url(../fonts/Raleway.ttf) format('truetype'), url(../fonts/Raleway.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(../fonts/Raleway-Medium.woff2) format('woff2'), url(../fonts/Raleway-Medium.ttf) format('truetype'), url(../fonts/Raleway-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(../fonts/Raleway-SemiBold.woff2) format('woff2'), url(../fonts/Raleway-SemiBold.ttf) format('truetype'), url(../fonts/Raleway-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(../fonts/Raleway-Bold.woff2) format('woff2'), url(../fonts/Raleway-Bold.ttf) format('truetype'), url(../fonts/Raleway-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../fonts/Source-Sans-Pro-Light.woff2) format('woff2'), url(../fonts/Source-Sans-Pro-Light.ttf) format('truetype'), url(../fonts/Source-Sans-Pro-Light.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Source-Sans-Pro.eot);
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/Source-Sans-Pro.svg#SourceSansPro) format('svg'), url(../fonts/Source-Sans-Pro.woff2) format('woff2'), url(../fonts/Source-Sans-Pro.ttf) format('truetype'), url(../fonts/Source-Sans-Pro.eot?#iefix) format('embedded-opentype'), url(../fonts/Source-Sans-Pro.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(../fonts/Source-Sans-Pro-Semibold.woff2) format('woff2'), url(../fonts/Source-Sans-Pro-Semibold.ttf) format('truetype'), url(../fonts/Source-Sans-Pro-Semibold.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(../fonts/Source-Sans-Pro-Black.woff2) format('woff2'), url(../fonts/Source-Sans-Pro-Black.ttf) format('truetype'), url(../fonts/Source-Sans-Pro-Black.woff) format('woff');
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url(../fontsen/Bitter-Regular.eot);
  src: local('Bitter-Regular'), local('Bitter'), url(../fontsen/Bitter-Regular.ttf) format('truetype'), url(../fontsen/Bitter-Regular.woff) format('woff'), url(../fontsen/Bitter-Regular.eot?#iefix) format('embedded-opentype'), url(../fontsen/Bitter-Regular.svg#Bitter) format('svg');
}