@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Abel-Regular.eot);
    src: local('Abel Regular'), local('Abel-Regular'), local('Abel'), url(../fonts/Abel-Regular.woff) format('woff'), url(../fonts/Abel-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Abel-Regular.ttf) format('truetype'), url(../fonts/Abel-Regular.svg#Abel) format('svg');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 200;
    src: local('Dosis ExtraLight'), local('Dosis-ExtraLight'), url(../fonts/Dosis-ExtraLight.woff) format('woff'), url(../fonts/Dosis-ExtraLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    src: local('Dosis Light'), local('Dosis-Light'), url(../fonts/Dosis-Light.woff) format('woff'), url(../fonts/Dosis-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Dosis.eot);
    src: local('Dosis'), local('Dosis Regular'), local('Dosis-Regular'), url(../fonts/Dosis.eot?#iefix) format('embedded-opentype'), url(../fonts/Dosis.woff) format('woff'), url(../fonts/Dosis.svg#Dosis) format('svg'), url(../fonts/Dosis.ttf) format('truetype');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: local('Dosis Medium'), local('Dosis-Medium'), url(../fonts/Dosis-Medium.woff) format('woff'), url(../fonts/Dosis-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 100;
    src: local('Saira Thin'), local('Saira-Thin'), url(../fonts/Saira-Thin.woff) format('woff'), url(../fonts/Saira-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 200;
    src: local('Saira ExtraLight'), local('Saira-ExtraLight'), url(../fonts/Saira-ExtraLight.woff) format('woff'), url(../fonts/Saira-ExtraLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 300;
    src: local('Saira Light'), local('Saira-Light'), url(../fonts/Saira-Light.woff) format('woff'), url(../fonts/Saira-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Saira-Regular.eot);
    src: local('Saira Regular'), local('Saira-Regular'), local('Saira'), url(../fonts/Saira-Regular.woff) format('woff'), url(../fonts/Saira-Regular.svg#Saira) format('svg'), url(../fonts/Saira-Regular.ttf) format('truetype'), url(../fonts/Saira-Regular.eot?#iefix) format('embedded-opentype');
}

@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 500;
    src: local('Saira Medium'), local('Saira-Medium'), url(../fonts/Saira-Medium.woff) format('woff'), url(../fonts/Saira-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 600;
    src: local('Saira SemiBold'), local('Saira-SemiBold'), url(../fonts/Saira-SemiBold.woff) format('woff'), url(../fonts/Saira-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 700;
    src: local('Saira Bold'), local('Saira-Bold'), url(../fonts/Saira-Bold.woff) format('woff'), url(../fonts/Saira-Bold.ttf) format('truetype');
}
